---
import Social from "./Social.astro";

    // const platform="github";
    // const username="withastro";

---
<style>
    footer{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer>
    <!-- <p>Learn more about my project on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p> -->
     <Social platform="twitter" username="astrobuild"/>
     <Social platform="github" username="withastro"/>
     <Social platform="youtube" username="astrodotbuild"/>
</footer>